<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin | Blog - Fletify</title>
        <meta name="keywords" content="admin, fletify, blog">
        <meta name="description" content="">
        <meta name="og:title" content="">
        <meta name="og:description" content="">
        <meta name="og:site_name" content="">
        <meta name="og:image" content="">
        <meta name="image" content="">
        <meta name="og:theme-color" content="#7289da">
        <meta name="theme-color" content="#7289da">
        <meta name="main-color" content="#7289da">
        <link rel="shortcut icon" href="https://media.discordapp.net/attachments/972539143794077696/993904710933303367/20220705_211156.png?width=498&height=498" type="image/x-icon">
        <link rel="stylesheet" href="/styles/blog.css">
    </head>
    <body>
        <main>
           <div class="center">
              <h1>Create a New Blog!</h1>
              <section>
                 <hr>
                    <form action="/blog/new" method="post">
                      <input type="text" placeholder="Blog Title" name="title" maxlength="100" required />
                      <input type="text" placeholder="Blog Tags (comma separated)" name="tags" maxlength="50" />
                      <textarea placeholder="Blog Description. You can use HTML." name="body" required></textarea>
                      <input type="password" placeholder="Authentication Password" name="password" required />
                      <button type="submit">Create Blog!</button>
                    </form>
                 <hr>
              </section>
           </div>
        </main>
    </body>
</html>