<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fletify Blogs</title>
        <meta name="keywords" content="fletify, blog">
        <meta name="description" content="Explore blogs from Fletify">
        <meta name="og:title" content="Blogs - Fletify">
        <meta name="og:description" content="Explore blogs from Fletify">
        <meta name="og:site_name" content="blogs.fletify.cf">
        <meta name="og:image" content="https://media.discordapp.net/attachments/972539143794077696/993904710933303367/20220705_211156.png?width=498&height=498">
        <meta name="image" content="https://media.discordapp.net/attachments/972539143794077696/993904710933303367/20220705_211156.png?width=498&height=498">
        <meta name="og:theme-color" content="#7289da">
        <meta name="theme-color" content="#7289da">
        <meta name="main-color" content="#7289da">
        <link rel="shortcut icon" href="https://media.discordapp.net/attachments/972539143794077696/993904710933303367/20220705_211156.png?width=498&height=498" type="image/x-icon">
        <link rel="stylesheet" href="/styles/blog.css">
    </head>
    <body>
        <main>
           <div class="center">
              <h1>Blogs</h1>
              <section>
                 <hr>
                    <% blogs.forEach(blog => { %>
                      <ul>
                        <li>
                          <a href="<%= '/blog/'+blog+'.html' %>"><%= blog %></a>
                        </li>
                      </ul>
                    <% }); %>
                 <hr>
              </section>
           </div>
        </main>
    </body>
</html>